.switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
}
.MuiFormControlLabel-label {
  font-size: 0.8rem !important;
  font-weight: bold !important;
  line-height: 1.5;
}
